* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-weight: 700;
  color: black;
}

h6 {
  font-weight: 700;
  color: black;
  font-size: 15px;
  padding: 25px 0px;
}

.header {
  width: 100%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  color: white;
}

.header a {
  color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header a:hover {
  color: black;
}

.header a:hover svg {
  fill: black;
}

.header svg {
  fill: white;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  height: 17px;
}

.header__icons {
  padding: 15.25px 0px;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons .burger {
  display: none;
}

.header__icons .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons .work-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons .email a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons .language-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons .language-change p {
  margin: 0px 10px;
}

.header__icons .language-change .active {
  font-weight: 700;
}

.header__icons .favorite a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons .login a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  position: relative;
  z-index: 10;
  padding: 0px 20.67px;
  background-color: white;
  max-width: 1200px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 126px;
}

.header__logo img {
  width: 100%;
}

.header__list {
  height: 100%;
}

.header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list ul a {
  line-height: 120px;
  color: black;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__list ul li {
  position: relative;
  margin-left: 35px;
  text-transform: uppercase;
  font-weight: 500;
}

.header__list ul li .active {
  color: red;
}

.header__list ul li:nth-child(2):after,
.header__list ul li:nth-child(2)::before,
.header__list ul li:nth-child(4):after,
.header__list ul li:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 47.5%;
  height: 6px;
  width: 1px;
  background-color: black;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 1px;
}

.header__list ul li:nth-child(2)::after,
.header__list ul li:nth-child(4)::after {
  right: -8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__list ul li:nth-child(2)::before,
.header__list ul li:nth-child(4)::before {
  right: -13px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__list ul li:hover a {
  color: red;
}

.header__list ul .shown:nth-child(2)::after,
.header__list ul .shown:nth-child(4)::after {
  right: -8px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background-color: red;
}

.header__list ul .shown:nth-child(2)::before,
.header__list ul .shown:nth-child(4)::before {
  right: -13px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: red;
}

.header__search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search img {
  max-width: 100%;
}

.header__search__shoping-cart img {
  max-width: 100%;
}

.header__call-menu {
  position: relative;
  max-width: 1200px;
  margin: auto;
  margin-top: -100px;
}

.header__shop-menu {
  position: relative;
  z-index: 5;
  overflow: hidden;
  background-color: white;
  height: 0px;
  max-width: 1200px;
  margin: -40px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__shop-menu .list li {
  line-height: 50px;
  padding: 0px 15px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__shop-menu .list li:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.header__shop-menu .list li:hover a {
  color: red;
}

.header__shop-menu .list a {
  color: black;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__shop-menu span {
  margin: auto;
  background-color: red;
  height: 300px;
  width: 1px;
}

.header .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .product-card {
  max-width: 210px;
  height: 100%;
  text-align: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding: 0px 5px;
  margin: 0px 15px 15px 15px;
}

.header .product-card img {
  max-width: 100%;
}

.header .product-card:hover {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.header .product-card h3 {
  height: 35px;
}

.header .show {
  padding: 75px 25px;
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
  height: 440px;
}

.header__buyers-menu {
  position: relative;
  z-index: 5;
  background-color: white;
  height: 0px;
  overflow: hidden;
  max-width: 1200px;
  margin: -15px auto 0px auto;
  line-height: 50px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__buyers-menu .list {
  padding-top: 60px;
}

.header__buyers-menu .list li {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__buyers-menu .list li a {
  text-transform: uppercase;
  color: black;
}

.header__buyers-menu .list li:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.header__buyers-menu .list li:hover a {
  color: red;
}

.header .bshow {
  height: 175px;
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}

.header__search-menu {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  background-color: white;
  height: 0px;
  margin: 50px auto;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__search-menu .search {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.header__search-menu .search input {
  font-size: 15px;
  height: 100%;
  width: 100%;
  padding: 20px 10px;
  background-color: rgba(128, 128, 128, 0.05);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__search-menu .search input:focus {
  border: 1px solid red;
}

.header__search-menu .close-button {
  position: relative;
  display: block;
  height: 70px;
  width: 70px;
}

.header__search-menu .close-button span {
  display: block;
  height: 100%;
  width: 100%;
}

.header__search-menu .close-button span::before,
.header__search-menu .close-button span::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  height: 28px;
  width: 3px;
  background-color: black;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 2px;
}

.header__search-menu .close-button span::before {
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.header__search-menu .close-button span::after {
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.header .search-show {
  height: 80px;
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}

.header__shoping-card {
  width: 400px;
  background-color: white;
  color: black;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  top: 0;
  right: -400px;
  height: 100vh;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.header__shoping-card .title {
  background-color: white;
  width: 100%;
}

.header__shoping-card .title__text {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 25px;
}

.header__shoping-card .title__text h4 {
  font-weight: 400;
  font-size: 25px;
}

.header__shoping-card .title__text span {
  position: relative;
  height: 25px;
  width: 25px;
}

.header__shoping-card .title__text span::before,
.header__shoping-card .title__text span::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 7px;
  height: 20px;
  width: 2px;
  background-color: black;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 2px;
}

.header__shoping-card .title__text span::before {
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.header__shoping-card .title__text span::after {
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.header__shoping-card .title__text::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, 0.1);
}

.header__shoping-card .shoping-buttons {
  width: 100%;
  padding: 20px 25px;
}

.header__shoping-card .shoping-buttons p {
  padding: 0px 0px 30px 0px;
  position: relative;
  width: 100%;
}

.header__shoping-card .shoping-buttons p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 2px;
}

.header__shoping-card .shoping-buttons .cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__shoping-card .shoping-buttons .cost h5 {
  font-size: 20px;
  font-weight: 500;
}

.header__shoping-card .shoping-buttons button {
  background-color: black;
  color: white;
  font-size: 15px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__shoping-card .shoping-buttons .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__shoping-card .shoping-buttons .buttons .checkout {
  height: 50px;
  width: 47%;
}

.header__shoping-card .shoping-buttons .buttons .checkout:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.header__shoping-card .shoping-buttons .buttons .express-checkout {
  width: 47%;
}

.header__shoping-card .shoping-buttons .buttons .express-checkout:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.header__shoping-card .shoping-buttons .buttons .continue-shopping {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 50px;
  margin-top: 10px;
  width: 100%;
}

.header__shoping-card .shoping-buttons .buttons .continue-shopping:hover {
  background-color: black;
  color: white;
}

.header .shopping-card-show {
  right: 0;
}

.header-menu {
  position: absolute;
  display: none;
  top: 0;
  left: -400px;
  background-color: white;
  z-index: 200;
  height: 100vh;
  width: 400px;
  overflow: scroll;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-menu__show {
  left: 0;
}

.menu-list__title {
  padding: 0px 25px;
  width: 100%;
  background-color: rgba(229, 229, 229, 0.5764705882);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list__title h5 {
  color: red;
  font-weight: 600;
  font-size: 22px;
  line-height: 70px;
}

.menu-list__title span {
  position: relative;
  height: 70px;
  width: 70px;
}

.menu-list__title span::after,
.menu-list__title span::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 50%;
  display: block;
  background-color: red;
  height: 31px;
  width: 3px;
  border-radius: 2px;
  margin: auto;
}

.menu-list__title span::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-list__title span::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-list__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-list__links a {
  padding-left: 25px;
  color: black;
  font-size: 16px;
  line-height: 55px;
  width: 100%;
  border: 1px solid rgba(229, 229, 229, 0.3607843137);
}

.products {
  overflow: scroll;
  height: 100%;
}

.cart-product {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px;
}

.cart-product__content {
  width: 100%;
}

.cart-product__text a {
  color: gray;
}

.cart-product__image {
  max-width: 30%;
}

.cart-product__image img {
  max-width: 111px;
  max-height: 111px;
}

.cart-product .flex-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-product__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-product__input input[type=number] {
  height: 24px;
  width: 24px;
  font-size: 12px;
  color: black;
  font-weight: 600;
  text-align: center;
}

.cart-product__input input[type=number]::-webkit-inner-spin-button,
.cart-product__input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-product__input .plus {
  position: relative;
  width: 24px;
  height: 24px;
}

.cart-product__input .plus::before,
.cart-product__input .plus::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 2px;
  border-radius: 2px;
  background-color: black;
  right: 10px;
  top: 7px;
}

.cart-product__input .plus::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cart-product__input .minus {
  position: relative;
  width: 24px;
  height: 24px;
}

.cart-product__input .minus::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 2px;
  border-radius: 2px;
  background-color: black;
  left: 10px;
  top: 7px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cart-product__input .minus__disabled {
  opacity: 0.5;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}

scrollbar {
  width: 5px;
}

scrollbar-thumb {
  background-color: red;
}

.wrapper {
  height: 100%;
  -webkit-transition: all 5s ease 0s;
  transition: all 5s ease 0s;
}

.blur {
  overflow: hidden;
}

.blur::before {
  content: "";
  position: absolute;
  z-index: 50;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px;
  max-width: 1200px;
  margin: auto;
}

.shop__close {
  display: none;
}

.shop__submit {
  display: none;
}

.shop h6 {
  font-size: 15px;
  font-weight: 500;
}

.shop p {
  color: black;
}

.shop__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__title h1 {
  font-size: 35px;
  margin: 5px 0px 5px 35px;
  font-weight: 600;
}

.shop__content {
  width: 100%;
}

.shop__filters {
  margin: 25px 0px 5px 35px;
}

.shop__filters a {
  position: relative;
  margin-right: 15px;
  padding: 5px 30px 5px 15px;
  border-radius: 15px;
  border: 1px solid black;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: red;
}

.shop__filters a::before,
.shop__filters a::after {
  content: "";
  position: absolute;
  top: 7.5px;
  right: 15px;
  height: 13px;
  width: 2px;
  background-color: black;
}

.shop__filters a::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.shop__filters a::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.shop__filters a:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.shop .clean-filters {
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

.shop .clean-filters::before,
.shop .clean-filters::after {
  display: none;
}

.shop .clean-filters:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}

.shop__menu {
  width: 275px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 26px;
}

.shop__card {
  margin-top: 25px;
  position: relative;
  margin-left: 25px;
  width: 280px;
}

.shop__card:hover {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  z-index: 2;
}

.shop__card:hover::after {
  height: 0px;
}

.shop__card:hover .shop__card-image img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.shop__card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.shop__card-image {
  overflow: hidden;
  padding: 5px;
}

.shop__card-image img {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  max-width: 100%;
}

.shop__card-title {
  height: 60px;
}

.shop__card-title h6 {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.shop__card-price {
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 25px 0px;
}

.shop__card-price p {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.shop__card-button {
  position: absolute;
  bottom: -80px;
  z-index: 1;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.shop__card-button button {
  margin: 20px 15px;
  height: 40px;
  width: 90%;
  background-color: red;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.shop__card-button button:hover {
  color: red;
  background-color: inherit;
  border: 1px solid red;
}

.shop__products {
  margin-left: 10px;
  max-width: 925px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-menu__list {
  padding-top: 21px;
}

.category-menu__list:nth-child(1) {
  padding-top: 6px;
}

.category-menu__list li {
  padding-bottom: 10px;
}

.category-menu__list li a {
  font-size: 16px;
  color: black;
  line-height: 19px;
}

.filters {
  padding-top: 20px;
}

.filters__title {
  height: 40px;
  position: relative;
  margin: auto;
}

.filters__title h5 {
  font-weight: 500;
  font-size: 17px;
}

.filters__title::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.filters .name {
  position: relative;
  z-index: 1;
  background-color: white;
  font-size: 16px;
  height: 50px;
  padding: 16px 0px;
}

.filters .name::before,
.filters .name::after {
  content: "";
  position: absolute;
  top: 40%;
  height: 10px;
  width: 1px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.filters .name::before {
  right: 13px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filters .name::after {
  right: 20px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filters .name__active::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.filters .name__active::after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.price {
  position: relative;
  max-height: 50px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.price__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__input span {
  width: 10%;
  text-align: center;
  font-size: 15px;
}

.price__input input {
  height: 32px;
  max-width: 30%;
  text-align: center;
  font-size: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.price__input button {
  margin-left: 5%;
  width: 25%;
  height: 32px;
  background-color: red;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
}

.price__input button:hover {
  border: 1px solid red;
  background-color: inherit;
  color: red;
}

.price__slider {
  width: 100%;
  margin: 15px 0px;
  padding: 0px 10px;
}

.price__active {
  max-height: 130px;
}

.price::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.filter {
  position: relative;
  max-height: 50px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.filter__list {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  max-height: 0%;
}

.filter__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.filter__list li p {
  font-size: 16px;
}

.filter__list li input {
  margin-right: 10px;
}

.filter__active {
  max-height: 100%;
}

.filter__active .manufacturer__list {
  max-height: 100%;
}

.filter::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort label {
  font-size: 15px;
  margin-right: 10px;
}

.sort select {
  background-color: rgba(0, 0, 0, 0.03);
  text-align: center;
  font-size: 15px;
  padding: 5px;
}

.sort option {
  background-color: white;
}

.sort option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sort .filters-button {
  display: none;
  margin-left: 25px;
}

.sort .filters-button img {
  max-width: 25px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.pagination button {
  height: 42px;
  width: 45px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.pagination button:hover {
  background-color: red;
  color: white;
}

.pagination .active {
  color: white;
  background-color: red;
}

.footer {
  background-color: #e5e5e5;
  height: 380px;
  width: 100%;
}

.footer svg {
  width: 100%;
  height: 100%;
}

.footer a {
  color: black;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer a svg {
  height: 21px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  fill: black;
}

.footer a:hover {
  color: red;
}

.footer a:hover svg {
  fill: red;
}

.footer h6 {
  padding: 0px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.footer__content {
  padding-top: 70px;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main img {
  max-width: 150px;
}

.footer__main p {
  font-size: 16px;
}

.footer__main ul {
  padding: 20px 0px;
}

.footer__main li {
  padding-bottom: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__main li a {
  font-size: 16px;
}

.footer__main li img {
  max-width: 15px;
  margin-right: 10px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list {
  margin-left: 115px;
}

.footer-list__links a {
  font-weight: 400;
  line-height: 36px;
  font-size: 18px;
}

.media__links {
  max-width: 200px;
  padding: 20px 0px;
}

.media__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media__text {
  padding: 10px 0px;
}

.media__img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media__img li {
  height: 35px;
  width: 35px;
  margin-right: 15px;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-horizontal {
  height: 16px;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
          transform-style: flat;
}

/* Offset direction
 */

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -10px;
  top: -2px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  background: #ddd;
  border-radius: 16px;
}

.noUi-connects {
  border-radius: 16px;
}

.noUi-connect {
  border-radius: 16px;
  background: red;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  -webkit-box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
          box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
  -webkit-box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
          box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */

.noUi-pips,
.noUi-pips * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #ccc;
}

.noUi-marker-sub {
  background: #aaa;
}

.noUi-marker-large {
  background: #aaa;
}

/* Horizontal layout;
 *
 */

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
      transform: translate(50%, 50%);
}

/* Vertical layout;
 *
 */

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #d9d9d9;
  border-radius: 16px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
      transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

@media (max-width: 1220px) {
  .header__icons {
    max-width: 960px;
  }

  .header__icons .work-time {
    display: none;
  }

  .header__content {
    max-width: 960px;
  }

  .header__shop-menu {
    max-width: 960px;
  }

  .header__buyers-menu {
    max-width: 960px;
  }

  .header__search-menu {
    max-width: 960px;
  }

  .footer__content {
    max-width: 960px;
  }

  .footer-list {
    margin-left: 80px;
  }

  .media {
    max-width: 200px;
  }

  .shop {
    max-width: 960px;
  }

  .shop__menu {
    max-width: 220px;
    padding: 15px;
  }

  .shop__card {
    margin-left: 15px;
    max-width: 221.6px;
  }
}

@media (max-width: 980px) {
  .header__icons {
    max-width: 720px;
  }

  .header__icons .burger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
  }

  .header__icons .burger::before,
  .header__icons .burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }

  .header__icons .burger::before {
    top: 5px;
  }

  .header__icons .burger::after {
    bottom: 5px;
  }

  .header__icons .burger span {
    border-radius: 2px;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    height: 3px;
    top: 15.5px;
    -webkit-transition: all 0s ease 0.5s;
    transition: all 0s ease 0.5s;
  }

  .header__icons .burger__active {
    opacity: 0;
  }

  .header__content {
    padding: 21px 32px;
    max-width: 720px;
  }

  .header .email {
    display: none;
  }

  .header .language-change {
    display: none;
  }

  .header .social-media svg {
    margin-right: 25px;
  }

  .header__list {
    display: none;
  }

  .header__search {
    margin-right: -50%;
  }

  .header__shop-menu {
    display: none;
  }

  .header__buyers-menu {
    display: none;
  }

  .header__search-menu {
    margin-top: 0px;
    max-width: 720px;
  }

  .header-menu {
    display: block;
  }

  .footer__content {
    max-width: 720px;
  }

  .footer-list {
    margin-left: 0px;
  }

  .shop {
    max-width: 720px;
  }

  .shop__container {
    position: absolute;
    z-index: 100;
    top: 0;
    right: -100%;
    width: 100%;
    background-color: white;
    height: 100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .shop__close {
    height: 35px;
    width: 100%;
    position: relative;
    display: block;
  }

  .shop__close::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .shop__close .close {
    position: relative;
    float: right;
    height: 35px;
    width: 35px;
    background-color: inherit;
  }

  .shop__close .close::before,
  .shop__close .close::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 2px;
    border-radius: 2px;
    top: 4px;
    right: 16.5px;
    background-color: black;
  }

  .shop__close .close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .shop__close .close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .shop__menu {
    padding: 15px 40px;
    max-width: 100%;
    width: 100%;
    height: 88%;
    overflow: scroll;
  }

  .shop__submit {
    position: absolute;
    bottom: 0;
    height: 80px;
    left: 0;
    width: 100%;
    padding: 15px;
    display: block;
  }

  .shop__submit .submit {
    margin: auto;
    background-color: red;
    height: 45px;
    width: 100%;
    color: white;
    font-weight: 16px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    font-size: 16px;
  }

  .shop__submit .submit:hover {
    background-color: inherit;
    border: 1px solid red;
    color: red;
  }

  .shop__card-title {
    height: 80px;
  }

  .price__input input {
    max-width: 40%;
    width: 35%;
  }

  .category-menu__list li {
    padding-bottom: 10px;
  }

  .category-menu__list li a {
    font-size: 16px;
    color: black;
    line-height: 25px;
  }

  .showed {
    overflow: hidden;
    right: 0;
  }

  .sort .filters-button {
    display: block;
  }
}

@media (max-width: 740px) {
  .header__icons {
    max-width: 480px;
  }

  .header__content {
    max-width: 480px;
  }

  .header .social-media {
    display: none;
  }

  .header .favorite {
    display: none;
  }

  .header__search {
    margin-right: -10%;
  }

  .header__search-menu {
    max-width: 480px;
  }

  .footer {
    height: 930px;
  }

  .footer__content {
    max-width: 480px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 480px;
  }

  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .media {
    padding: 25px 0px;
    max-width: 480px;
    width: 480px;
    text-align: center;
  }

  .media__links {
    margin: auto;
  }

  .media__img ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-list {
    text-align: center;
    width: 480px;
    padding-top: 25px;
  }

  .shop {
    max-width: 480px;
  }

  .shop__card {
    margin-left: 15px;
    max-width: 220px;
  }

  .shop__content {
    padding: 0px 15px 0px 5px;
  }

  .shop__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .shop__title h1 {
    font-size: 30px;
    margin: 10px 0px;
    font-weight: 500;
  }

  .shop__card-button {
    position: relative;
    bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .shop__card {
    margin: 0;
    width: 100%;
  }

  .shop__card-title h6 {
    font-size: 12px;
  }

  .shop__products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (50%)[2];
    grid-template-columns: repeat(2, 50%);
    gap: 5px;
  }

  .sort {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .sort label {
    margin: 0;
  }

  .sort__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 10px;
  }
}

@media (max-width: 500px) {
  .header__icons {
    padding: 15.25px 15px;
  }

  .header__shoping-card {
    width: 100%;
  }

  .header-menu {
    width: 100%;
  }

  .footer {
    height: 930px;
  }

  .footer__content {
    max-width: 325px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .footer__main {
    width: 325px;
  }

  .footer__list {
    max-width: 325px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .media {
    padding: 25px 0px;
    max-width: 325px;
    width: 325px;
    text-align: center;
  }

  .media__links {
    margin: auto;
  }

  .media__img ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-list {
    text-align: center;
    width: 325px;
    padding-top: 25px;
  }
}