@import "nullstyle";
@import "fonts";
@import "header";
@import "scrollbar";

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  img {
    height: 100%;
    width: 100%;
  }
  .slider__item {
    position: relative;
    z-index: 5;
    width: 100%;
    display: block;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  & .slick-dots {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    li {
      list-style: none;
      margin: 0px 5px;
      &.slick-active button {
        background-color: red;
      }
    }

    button {
      transition: all 0.2s ease 0s;
      font-size: 0;
      width: 12px;
      height: 12px;
      border: 1px solid red;
      background-color: transparent;
      border-radius: 50%;
    }
  }

  &__text {
    position: absolute;
    width: 1200px;
    top: 60%;
    left: 10%;
    z-index: 8;
    margin-top: -100px;
    h2 {
      max-width: 60%;
      color: white;
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
    }
    p {
      max-width: 60%;
      padding: 20px 0px;
      color: white;
      font-size: 16px;
    }
    .buttons {
      .slick-button {
        background-color: red;
        height: 45px;
        width: 140px;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 15px;
        transition: all 0.8s ease 0s;
        @media (hover: hover) {
          &:hover {
            background-color: inherit;
            color: black;
            border: 1px solid black;
          }
        }
      }
    }
  }
}

.categories {
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
  &__title {
    text-align: center;
    padding-bottom: 5px;
    h3 {
      font-weight: 600;
      font-size: 30px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .category {
      position: relative;
      overflow: hidden;
      max-width: 375px;
      max-height: 375px;
      margin-top: 37.5px;
      text-align: center;
      img {
        max-width: 100%;
        transition: all 0.8s ease 0s;
      }

      &__name {
        position: absolute;
        z-index: 1;
        top: 35%;
        width: 100%;
        h4 {
          padding-top: 18px;
          font-size: 20px;
          font-weight: 600;
          color: white;
          text-transform: uppercase;
        }
        img {
          max-width: 100%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
      }
      @media (hover: hover) {
        &:hover {
          .category__image {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.cards-list {
  max-width: 1200px;
  margin: auto;
  margin-top: 132.5px;
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #f5f5f5;
  max-width: 375px;
  &__content {
    padding: 45px;
  }

  &__number {
    margin-top: -120px;
    p {
      font-size: 120px;
      color: #e3e3e3;
      font-weight: 600;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    h5 {
      font-size: 18px;
      font-weight: 600;
      max-width: 215px;
    }
    img {
      max-width: 60px;
    }
  }

  &__text {
    p {
      font-size: 18px;
      max-width: 215px;
    }
  }

  &__button {
    margin-top: 25px;
    button {
      width: 170px;
      height: 44px;
      background-color: red;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 0.8s ease 0s;
      @media (hover: hover) {
        &:hover {
          background-color: inherit;
          border: 1px solid black;
          color: black;
        }
      }
    }
  }
}

.accessories {
  background-color: #f5f5f5;

  &__container {
    max-width: 1200px;
    margin: auto;
    margin-top: 90px;
    padding-bottom: 25px;
  }

  &__content {
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    display: block;
    max-width: 375px;
  }

  &__title {
    padding: 50px 0px;
    h3 {
      font-size: 38px;
      font-weight: 600;
      color: red;
    }
  }

  &__text {
    padding-bottom: 15px;
    h6 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.product {
  max-width: 290px;
  margin: 15px;
  text-align: center;
  transition: all 0.5s ease 0s;
  &__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__img {
    img {
      max-width: 100%;
    }
  }

  &__title {
    height: 35px;
    h3 {
      line-height: 20px;
    }
  }

  &__button {
    height: 50px;
    background-color: red;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
  }
  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 5px black;
    }
  }
}

.sales-lider {
  padding: 80px 0px;
  &__title {
    padding-bottom: 50px;
    text-align: center;
    h2 {
      font-size: 37px;
      font-weight: 600;
    }
  }

  &__slider {
    max-width: 1200px;
    height: 450px;
    margin: auto;
    position: relative;
  }
}
.slick-arrow {
  position: absolute;
  top: 200px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e3e3e3;
  &.slick-disabled {
    opacity: 0.2;
  }

  &.slick-prev {
    left: 0;
    background: url("@img/arrow.svg") 0 0 / 100% no-repeat;
  }

  &.slick-next {
    right: 0;
    background: url("@img/arrow.svg") 0 0 / 100% no-repeat;
    transform: rotate(180deg);
  }
}

.faqs {
  padding-bottom: 80px;
  max-width: 1200px;
  margin: auto;
  &__title {
    text-align: center;
    h2 {
      font-size: 30px;
      font-weight: 600;
    }
  }
  &__text {
    padding: 30px 0px;
    text-align: center;
    p {
      font-size: 16px;
      text-transform: uppercase;
      opacity: 0.8;
    }
  }
}

.faq-list {
  position: relative;
  background-color: #e5e5e5;
  margin: 20px 0px;
  max-height: 110px;
  overflow: hidden;
  transition: all 0.8s ease 0s;

  &__title {
    position: relative;
    height: 110px;
    background-color: #e5e5e5;
    padding: 44.5px 21px 44.5px 21px;
    h5 {
      position: relative;
      font-size: 21px;
      font-weight: 600;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        height: 15px;
        width: 2px;
        background-color: white;
        border-radius: 2px;
        transition: all 0.8s ease 0s;
      }
      &::before {
        z-index: 1;
        right: 29px;
        transform: rotate(-45deg);
      }
      &::after {
        z-index: 1;
        right: 19px;
        transform: rotate(45deg);
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      right: 21px;
      height: 50px;
      width: 50px;
      background-color: red;
      border-radius: 50%;
    }
  }

  &__text {
    padding: 0px 21px 25px 21px;
    p {
      padding: 10px 0px;
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__active {
    max-height: 415px;
    &:nth-child(1) {
      max-height: 205px;
    }
    &:nth-child(2) {
      max-height: 415px;
    }
    &:nth-child(3) {
      max-height: 340px;
    }
    &:nth-child(4) {
      max-height: 230px;
    }
    h5 {
      &::before {
        transform: rotate(-135deg);
      }
      &::after {
        transform: rotate(135deg);
      }
    }
  }
}

@import "footer";
@import "media";
